*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------whole page----------- */
body{
    background: url(images/img1.gif);
    background-repeat: repeat-x;
    background-color: #B2D22A;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: justify;  
}

#all{
     width: 480px;
    color: #688000;
    border-radius: 9px;
    padding: 0px;
    margin: auto;
}

/* --------header---------- */
#header{
    display: flex;
    height: 130px;
    background: url(images/img2.gif);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: space-around;
    padding: 20px;
    text-transform: lowercase;

}

#main_title{
        margin-left: -40px;
        margin-top: 15px;
}

#header h1 a{
    font-size: 40px;

    padding-top: 30px;
}

#header h2{
    font-size: 13px;
}

#header ul{
    width: 140px;
    list-style-image: url(images/img4.gif);
}

#header li{
    margin-left: 9px;
    padding: 2px 0;
    font-size: 13px;

}

.line{
    border: none;
    border-top: 1px dotted;
}

a{
    color: #688000; 
}
#header a{
    text-decoration: none;
}


/* ---------content---------- */

.topics{
    color: #617703;
    padding: 5px 0px;
    font-weight:bolder;
    font-size: 22px;
    text-transform: lowercase;
}
.small{
    font-size: 13px;
    text-transform: lowercase;
}
#content{
    background: url(images/img3.gif);
}

#col{
    background: url(images/img5.gif);
    background-repeat: repeat-x;
    margin: 0px 15px; 
}
#content1{
    border-bottom: 1px #869c20 dotted;
}
#content1, #content2, #content3{
    padding: 13px 30px;
}

#content1 p{
    padding: 8px 0px;
}
#content2{
    border-bottom: 1px #869c20 dotted;
}
p, ol,ul{
    font-size: 14px;
}
#content2 p{
    padding: 2px 0px;
}
#content2 ul{
    list-style-type: none;
    margin-left: -15px;
}
#content2 ul li::before{
    content: "\25C6";
    margin-right: 8px;
}
#content ul, ol, blockquote{
    padding: 7px 30px;
}
#content3{
    background: url(images/img6.gif);
    background-repeat: repeat-x;
    display: flex;
    flex-basis: 100%;
    border-top: 0.1px solid white;
    background-color: #E5FAA0;
}
#content3 > div{
    width: 50%;
}
#content3 ul{
    padding: 0;
    padding: 10px;
    list-style-image: url(images/img4.gif);
}




/* -----------footer---------- */
#footer{
    height: 55px;
    background: url(images/img7.gif);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 25px;
    text-align: center;
}